.form-inline.clearfix
  .nested-fields
    = f.input :the_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') }
    = link_to_remove_association "Remove", f, class: "btn btn-default"